<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
    <module name="FileTabCharacter">
        <property name="severity" value="error"/>
    </module>
    <module name="TreeWalker">
        <property name="tabWidth" value="4"/>
        <module name="AvoidStarImport"/>
        <module name="NeedBraces"/>
        <module name="LeftCurly">
            <property name="option" value="eol"/>
        </module>
        <module name="RightCurly"/>
        <module name="MethodLength">
            <property name="max" value="100"/>
        </module>
        <module name="ConstantName">
            <property name="format" value="^[A-Z]+(_?[A-Z0-9]+)+$"/>
        </module>
        <module name="MemberName">
            <property name="format" value="^[a-z][a-zA-Z0-9]+$"/>
        </module>
        <module name="MethodName">
            <property name="format" value="^(_)?[a-z][a-zA-Z0-9]+$"/>
        </module>
        <module name="TypeName">
            <property name="format" value="^[A-Z][a-zA-Z0-9]+$"/>
        </module>
        <module name="TodoComment">
            <property name="format" value="WARNING"/>
        </module>
    </module>
</module>
